<body id="login-body">

   <div id='login-container'>
   <div class="login"> Log In</div>

   <form action='/login' method='post'> 
      <label for="email">Email</label><br>
      <input type='email' name='firstname' placeholder='Email'><br>
      <label for="password">Password</label><br>
      <input type='password' name='password' placeholder='Password'><br>
      <input class='login-btn' type='submit' value='Sign In'>
   </form>

   </div>

</body>