<h1> Log In</h1>

<form action='/login' method='post'> 
   <input type='email' name='user[email]' placeholder='Email'>
   <input type='password' name='user[password]' placeholder='password'>
   <input type='submit' value='Sign In'>
</form>