


<h1>Post Something!</h1>

<form class="blog-form" action="/profile" method="POST">
    <h3><%= session[:first_name] %></h3>
    <input type="text" name="title" placeholder="Title"><br>
    <textarea name="content" rows="3" cols="30"></textarea><br>
    <input type="submit" value="Post">
</form>


