<body id='signup-body'>

    <div id="form-contianer">
        <h2 class='signup'>Sign Up</h2>
    
        <h2 class="form-top">Hurry and sign up to see all the DOGGOS!!!!</h2>
        <form action="/signup" method="POST">
            <label for="first name">First Name</label><br>
            <input type="text" name="user[firstname]" placeholder="First Name"><br>
            <label for="last name">Last Name</label><br>
            <input type="text" name="user[lastname]" placeholder="Last Name"><br>
            <label for="email">Email</label><br>
            <input type="email" name="user[email]" placeholder="Email"><br>
            <label for="password">Password</label><br>
            <input type="password" name=user[password] placeholder="Password"><br>
            <label for="birthday">Birthday</label><br>
            <input type="datetime" name=user[birthday] placeholder="Birthday"><br>
            <input type="submit" value="Sign up">
        </form>
    </div>
</body>