<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="profile.css">
    
    
    <title>Rumblr</title>
</head>

  <body>
        <nav>
            <% if session[:user_id] %>
                <div><a href="/profile">Profile</a></div>
                <div><a href="/logout">Logout</a></div>
            <% end %> 
            
            <!-- test to see if it works  -->
            <%# <%# <div><a href="/profile">Profile</a></div> %>
            <%# <div><a href="/logout">Logout</a></div>  %>
            <%# <input class="search" type="text" >  %>
        </nav>

    <%= yield %>
    </body>
</html>