
#signup-body {
    /* background: linear-gradient(50deg, #0b252c, #090f1685); */
    /* background: linear-gradient(50deg, #111f23e0, #050b12d9); */
     background-image: url('https://images.unsplash.com/photo-1513738883496-ab16da46fbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60');
     background-image: url('https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

#form-contianer {
    background-color: #13111278;
    width: 15%;
    height: auto;
    position: absolute;
    right: 10%;
    top: 24%;
    text-align: center;
    transition: ease-out 1.5s;
    border-radius: 20px 20px 20px 20px;
    

}

.form-top {
    color: ivory;
    font-size: 10pt;
    background-color: #22593A;
    /* transition: none; */
}

.signup {
    font-size: 42pt;
    color: ivory;
    /* transition: ease-in .7s; */
    /* background-color: #22593A; */
    /* border-radius: 1px 1px; */
}

label {
    color: ivory;
}

input {
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}


